@import "~assets/styles/variables.less";

.form-control:focus {
  border-color: @base-border;
  box-shadow: none;
}

.btn-primary {
  background-color: @base;
  border-color: @base-border;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.hover {
  background-color: @base-active !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: @base;
}

.el-pager li.active {
  background-color: @base !important;
  border-color: @base-border !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: @base;
}
.el-button--primary {
  background-color: @base-border!important;
}
.el-dialog__header {
  text-align: center;
}
.el-dialog__body {
  padding: 30px 60px!important;;
}
.el-input__inner:focus {
  border-color: @base-border !important;
}
* {
  outline: none;
}
.el-dropdown .el-dropdown__caret-button .el-dropdown__icon {
  margin: 0 !important;
}